
main{
    display: relative;
    width: 100%;
    padding: 0;
    margin: auto;
}

h1 {
    position: relative;
    left: 160px;
    font-size: 40px;
}

.subtitulo {
    font-size: 30px;
    color: black;
    position: relative;
    bottom: -105px;
    left: 160px;
}

.primero {
    text-align: center;
    position: relative;
    top: -190px;
    left: 1200px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}

.segundo {
    text-align: center;
    position: relative;
    top: -180px;
    left: 1250px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}

.tercero {
    text-align: center;
    position: relative;
    top: 190px;
    left: 1120px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}

.cuarto {
    text-align: center;
    position: relative;
    top: 190px;
    left: 1130px;
    background-color: blue;
    color: white;
    width: 110px;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
}

.quinto {
    text-align: center;
    position: relative;
    top: 190px;
    left: 1140px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}

.linea {
    display: flex;
    content: "";
    width: 1300px;
    height: 4px;
    background-color: black;
    margin: -180px 160px;
}

.logo {
    position: relative;
    left: 20px;
    margin: -25px;
    bottom: 70px;
    height: 200px;
    width: 200px;
 }

.linea1 {

    width: 4px;
    height: 580px;
    background-color: black;
    margin: -450px 720px;
    position: relative;
    bottom: 280px;

}

.linea2 {
    display: flex;
    content: "";
    width: 700px;
    height: 4px;
    background-color: black;
    margin: -550px 750px;
    text-align: right;

}

.plomero {
    position: relative;
    top: 100px;
    margin: 70px;
}

.servidor {
    color: blue;
    font-size: x-large;
    position: relative;
    bottom: 210px;
    left: -210px;
    text-align: center;
}

.domicilio {
    font-size: x-large;
    position: relative;
    bottom: 170px;
}

.carrito1 {
    font-size: xx-large;
    color: black;
    position: relative;
    top: -400px;
    text-align: left;
    margin-left: 750px;
}

.CARRITO {
    font-size: xx-large;
    color: black;
    position: relative;
    top: -380px;
    text-align: left;
    margin-left: 760px;

}

.derecha {
    font-size: xx-large;
    color: black;
    position: relative;
    left: 1300px;
    bottom: 520px;
}

.total {
    font-size: xx-large;
    color: black;
    position: relative;
    left: 760px;
    bottom: -530px;
}

.total1 {
    font-size: xx-large;
    color: black;
    position: relative;
    left: 1300px;
    bottom: -470px;
}

.gris {
    position: relative;
    left: 955px;
    bottom: -480px;
    background-color: grey;
    color: black;
    width: 300px;
    height: 80px;
    font-size: 35px;
    border-radius: 20px;
}

.azul {
    position: relative;
    left: 650px;
    bottom: -580px;
    background-color: blue;
    color: white;
    width: 300px;
    height: 80px;
    font-size: 35px;
    border-radius: 20px;

}
nav{
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul li{
    display: inline-block;
    list-style: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  ul li:hover{
    background-color: #2652e4;
    border-radius: 25px;
    text-decoration: none;
  }
  
