* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../logos/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

img {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    left: 300px;
    width: 200px;
}

h1{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    left: 300px;
    color: rgb(34, 90, 195);
}

.email{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 210px;
    position: relative;
    left: 300px;
    padding: 10px;
    border-radius:10%;
    border: none;
    font-size: 16px;
}

.password{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 210px;
    position: relative;
    left: 300px;
    padding: 10px;
    border-radius:10%;
    border: none;
    font-size: 16px;
}

a{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 210px;
    position: relative;
    left: 310px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 60px;
    position: relative;
    left: 365px;
    padding: 5px;
    font-size: 17px;
    background-color: rgb(152, 182, 238);
    border: none;
    cursor: pointer;
} 

.select{
    margin-left: 300px;
    width: 210px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: gray;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

