.linea {
    display: flex;
    content: "";
    width: 2050px;
    height: 4px;
    background-color: black;
    margin: 20px 0px;
 }
h2 {
    color: yellow;
}
.textos {
    display: flex;
}
.txt1 {
    margin: 0px 0px;
}
.txt2 {
    margin: 0px 300px;
}
.viernes {
   text-align: 
}
h1 {
    lie
}